<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anzaiyun.mapper.ZBMapper">

  <select id="getZbByUid" parameterType="Integer" resultType="com.anzaiyun.bean.ZB">
  	select a.rn zbnum, a.zbid, a.luid, a.zname, a.zlevel, a.rare,
             a.hp, a.mp, a.atk, a.def, b.l_expnow||' / '||b.L_EXPTOP expstr,
             a.lsfsy, a.sfsy
      from (select t.l_zbid zbid, t.l_uid luid, t.vc_name zname, t.l_level zlevel, t.vc_rare rare,
                       t.l_hp hp, t.l_mp mp, t.l_atk atk, t.l_def def ,
                       t.l_sfsy lsfsy,decode(t.l_sfsy, 1, '已使用', '') sfsy,
       				   row_number() over(partition by t.l_uid order by decode(t.vc_rare,'SSS',0,'SS',1,'S',2,'A',3,'B',4,'C',5,'D',6,7),t.l_level desc)  rn
  			    from tzbFull t 
    		  where t.l_uid = #{Uid}) a,
    		tzb b
    where a.zbid = b.l_zbid  and
    	  a.luid = b.l_uid
  </select>
  
  <select id="getZbByUidWithoutUse" parameterType="Integer" resultType="com.anzaiyun.bean.ZB">
  	select a.rn zbnum, a.zbid, a.luid, a.zname, a.zlevel, a.rare,
             a.hp, a.mp, a.atk, a.def, b.l_expnow||' / '||b.L_EXPTOP expstr,
             a.lsfsy, a.sfsy
      from (select t.l_zbid zbid, t.l_uid luid, t.vc_name zname, t.l_level zlevel, t.vc_rare rare,
                       t.l_hp hp, t.l_mp mp, t.l_atk atk, t.l_def def ,
                       t.l_sfsy lsfsy,decode(t.l_sfsy, 1, '已使用', '') sfsy,
       				   row_number() over(partition by t.l_uid order by decode(t.vc_rare,'SSS',0,'SS',1,'S',2,'A',3,'B',4,'C',5,'D',6,7),t.l_level desc)  rn
  			    from tzbFull t 
    		  where t.l_uid = #{Uid}) a,tzb b
    where a.zbid = b.l_zbid  and
    	  a.luid = b.l_uid   and
    	  a.zbid not in (select b.l_zbid from trolezb b where b.l_uid = #{Uid} and b.l_rid not in (#{rid}))
  </select>
  
  <select id="FindZbByZBid" parameterType="Integer" resultType="com.anzaiyun.bean.ZB">
  	select t.l_zbid zbid, t.l_uid luid, t.vc_name zname, t.l_level zlevel, t.vc_rare rare,
           t.l_hp hp, t.l_mp mp, t.l_atk atk, t.l_def def ,b.l_expnow||' / '||b.L_EXPTOP expstr,
           t.l_sfsy lsfsy, decode(t.l_sfsy, 1, '已使用', '') sfsy
      from tzbFull t , tzb b
     where t.l_zbid = b.l_zbid  and
    	   t.l_uid = b.l_uid    and
     	   t.l_zbid = #{zbid}
  </select>
  
  <select id="CKZb" statementType="CALLABLE" parameterType="java.util.Map">
  {call pkg_frpg.pkgsp_rpg_ckzb(#{uid, mode=IN,  jdbcType=INTEGER}, #{a_l_number, mode=IN,  jdbcType=INTEGER},
  #{return_code, mode=OUT, jdbcType=INTEGER},#{return_str, mode=OUT,jdbcType=VARCHAR}
    )}
  </select>
  
  <select id="getZbByUid2" parameterType="Integer" resultType="com.anzaiyun.bean.ZB">
  	select a.rn zbnum, a.zbid, a.luid, a.zname, a.zlevel, a.rare,
             a.hp, a.mp, a.atk, a.def, b.l_expnow||' / '||b.L_EXPTOP expstr,
             a.lsfsy, a.sfsy
      from (select t.l_zbid zbid, t.l_uid luid, t.vc_name zname, t.l_level zlevel, t.vc_rare rare,
                       t.l_hp hp, t.l_mp mp, t.l_atk atk, t.l_def def ,
                       t.l_sfsy lsfsy,decode(t.l_sfsy, 1, '已使用', '') sfsy,
                       row_number() over(partition by t.l_uid order by t.l_zbid desc)  rn
                from tzbFull t 
              where t.l_uid = #{Uid}) a,
           tzb b
    where a.zbid = b.l_zbid  and
    	  a.luid = b.l_uid    and
    	  a.rn &lt; #{rnumber}+1 
  </select>
  
  
</mapper>